<html>
  <head>
    <title>i want to be the 2nd best</title>
  </head>
  <body>
    <section class="pokemon">
      <span class="gallery">
        <span class="name">{{ pokemon.name }} </span>
        <figure class="gallery__item galerry__item--1">
          <img
            class="imageArt"
            src="{{ pokemon.imageArt }}"
            alt="{{ pokemon.name }}"
          />
        </figure>

        <span class="type">
          {{ pokemon.type }}
        </span>
      </span>
    </section>
  </body>
</html>
