.gallery {
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: left;
  width: 180px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(63, 61, 61, 0.2),
    0 6px 20px 0 rgba(156, 155, 155, 0.19);
  text-align: center;
}

.gallery:hover {
  background-color: rgb(224, 224, 224);
}

.gallery img {
  width: 100%;
  height: auto;
}

.alt {
  padding: 15px;
  text-align: center;
}
.name {
  text-align: center;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul.type li {
  background-color: #f7d02c;
  color: black;
  border-radius: 1px;
  border: 1px black;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.normal {
  background-color: #a8a77a;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f7d02c;
}
.grass {
  background-color: #7ac74c;
}
.ice {
  background-color: #96d9d6;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
