<section class="pokemon">
    <a>
      <img class="imageArt" src="{{pokemon.imageArt}}" alt="{{pokemon.name}}" />
    </a>
    <div class="info">
      <a class="name">{{pokemon.name}}</a>
      <p class="types">
        <span class="type1"></span>
        <span class="type2"></span>
      </p>
      <span class="statblock">
        <table>
          <tr>
            <td>hp</td>
            <td>{{pokemon.baseHealthPoints}}</td>
            <td>speed</td>
            <td>{{pokemon.baseSpeed}}</td>
          </tr>
          <tr>
            <td>normal attack</td>
            <td>{{pokemon.baseNormalAttack}}</td>
            <td>normal defense</td>
            <td>{{pokemon.baseNormalDefense}}</td>
          </tr>
          <tr>
            <td>special attack</td>
            <td>{{pokemon.baseSpecialAttack}}</td>
            <td>special defense</td>
            <td>{{pokemon.baseSpecialDefense}}</td>
          </tr>
        </table>
      </span>
    </div>
  </section>
